{% extends "base.html" %}
{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
<h1>{{title}}</h1>

{% for obj in object_list %}
<div class="row">
<!--div class='col-sm-6'>
    </posts/id/
    {% url "posts:detail" id=obj.id %}>
    <br/>
    <br/>
    {{obj.update}}<br/>
    {{obj.id}}<br/>
</div-->

  <div class="col-sm-12 col">
    <div class="thumbnail">
      <!--img src="..." alt="..."-->
      <div class="caption">
        <h3><a href='{{ obj.get_absolute_url }}'>{{obj.title}}</a><small>{{ obj.timestamp }} ago</small></h3>
        <p>{{obj.content|linebreaks|truncatechars:120 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
    </div>
  <hr/>
  </div>
{% comment %} {% cycle "" "<div class='col-sm-12'></div></div><div class='row'>" %} {% endcomment %}
{% endfor %}
</div>


{% endblock content %}